Navilla-19/.minecraft/.quilt
Navilla-19/.minecraft/coremods
Navilla-19/.minecraft/crash-reports
Navilla-19/.minecraft/defaultconfigs
Navilla-19/.minecraft/immersive_paintings_cache
Navilla-19/.minecraft/logs
Navilla-19/.minecraft/moddata
Navilla-19/.minecraft/ModTranslations
Navilla-19/.minecraft/patchouli_books
Navilla-19/.minecraft/saves
Navilla-19/.minecraft/screenshots
Navilla-19/.minecraft/server-resource-packs
Navilla-19/.minecraft/texturepacks
Navilla-19/.minecraft/XaeroWorldMap
Navilla-19/.minecraft/XaeroWaypoints
Navilla-19/.minecraft/XaeroWaypoints_*
Navilla-19/.minecraft/deaths.dat
Navilla-19/.minecraft/emi.json
Navilla-19/.minecraft/irisUpdateInfo.json
Navilla-19/.minecraft/patchouli_data.json
Navilla-19/.minecraft/polymer-resourcepack.zip
Navilla-19/.minecraft/usercache.json
Navilla-19/.minecraft/mods/.index
Navilla-19/.minecraft/servers.dat_old
Navilla-19-svr/.quilt
Navilla-19-svr/coremods
Navilla-19-svr/crash-reports
Navilla-19-svr/defaultconfigs
Navilla-19-svr/immersive_paintings_cache
Navilla-19-svr/logs
Navilla-19-svr/moddata
Navilla-19-svr/ModTranslations
Navilla-19-svr/patchouli_books
Navilla-19-svr/saves
Navilla-19-svr/screenshots
Navilla-19-svr/server-resource-packs
Navilla-19-svr/texturepacks
Navilla-19-svr/XaeroWorldMap
Navilla-19-svr/XaeroWaypoints
Navilla-19-svr/XaeroWaypoints_*
Navilla-19-svr/deaths.dat
Navilla-19-svr/emi.json
Navilla-19-svr/irisUpdateInfo.json
Navilla-19-svr/patchouli_data.json
Navilla-19-svr/polymer-resourcepack.zip
Navilla-19-svr/usercache.json
Navilla-19-svr/mods/.index
Navilla-19-svr/servers.dat_old
*.cache